:root {
  font-size: 100%;
  --width: 1140px;
  --min-width: 320px;
  --post-width: 780px;
  --nav-height: 120px;
  --nav-collapse-height: 64px;
  --footer-height: 180px;

  --white: #fff;
  --black: #000;
  --blue100: #c7deff;
  --blue500: #4191fd;
  --grey50: #f2f6fa;
  --grey100: #edeff1;
  --grey200: #c3c9d3;
  --grey300: #4e5968;
  --grey400: #333d4b;
  --grey500: #333d4b;

  --greyOpacity500: rgba(0, 27, 55, 0.1);
  --greyOpacity600: rgba(23, 38, 54, 0.6);
}
